* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #454545;
}

#wrapper{
  width: 9999px; 
  position: fixed; 
  height: 9999px; 
}

#border-t, #border-b, #border-l, #border-r {
  position: fixed;
  background: #F7CAC9;
  z-index: 9999;
  display:block;
}

#border-t {
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
}

#border-b {
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
}

#border-l {
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

#border-r {
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
}

#logo {
  width: auto;
  text-align: center;
  margin-top: 60pt;
}

#logo img {        
       margin-bottom: 4pt;
}


p {
        max-width: 368pt; 
        margin-top: 16pt;
}


.profile-text img:hover{
  opacity:1;
}

.profile-links{
  text-align:center;
  position:absolute;
  bottom:5%;
  width:100%;
}

.profile-text li{
  display:inline;
  list-style-type:none;
  padding-left:6px;
  padding-right:6px;
}

.profile-text img{
  width:16px;
  height:16px;
  opacity:0.4;
}

.profile-text h1{
  font-family: 'Karla', sans-serif;
  font-size: 24;
  font-weight: 400;

  letter-spacing:0.7px;
  text-align:center;
  width:80%;
  display:inline-block;
}

.profile-text h1 a, .profile-text h1 b{
  opacity:1;
  font-weight:400;
}

.profile-text h1 a:hover{
  opacity:0.4;
  font-weight:400;
  
}

.profile-text h2{
  font-family:'Karla', sans-serif;
  font-size:12px;
  font-weight:400;
  opacity:0.4;
  letter-spacing:0.5px;
  text-align:center;
}

.profile-text h2:hover{
  opacity:1.0;
}

.profile-text h3{
  max-width: 300px;
  font-family:'Karla', sans-serif;
  font-size:14px;
  font-weight:400;
  letter-spacing:0.5px;
  margin-left: auto;
  margin-right: auto;
}

.profile-text h4{
  font-family:'Karla', sans-serif;
  font-size:12px;
  font-weight:400;
  opacity:0.4;
  letter-spacing:0.5px;
  text-align:center;
}